<main>
    <div class="wrapper">
        <div class="header-item">
            <div class="item">
                <h2>{{ titleHotels }}</h2>
            </div>
            <!--<div class="item">
                <form id="filter" class="form-inline">
                    <div class="form-group">
                        <label>Search the Department</label>
                        <input type="text" [(ngModel)]="term" name="term" class="form-control">
                    </div>               
                </form>
            </div>-->
        </div>
        <div class="hotel-item">
            <div class="thumbnail" *ngFor="let hotel of hotels">
                <img [src]="hotel.urlImage" alt="hotel">
                <div class="hotel-info">
                    <h3>{{ hotel.name }}</h3>
                    <p>{{ hotel.locationCountry }}, {{ hotel.locationCity }}</p>
                </div>
                <div class="btn-details">
                    <button type="button" class="btn btn-primary" [routerLink]="['/hotel-detail', hotel.id]">View Detail</button>
                </div>
            </div>
        </div>
    </div>
</main>