.header-item, .hotel-item {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
}

.header-item {
    justify-content: space-between;
}

.hotel-item {
    flex-direction: column;
}

.item {
    align-self: center;
}

.thumbnail {
    align-self: center;
    flex-basis: 250px;
    box-shadow: 10px 10px 32px -12px rgba(0,0,0,0.75);
}

.preview img {
    width: 100%;
}

.price-box {
    color: orangered;    
}

