<header>
  <div class="wrapper">
    <div class="item">
      <!--<img src="../../img/angular.svg" alt="logo">-->
      <h1>Test-App</h1>
    </div>
    <div class="item">
      <a routerLink="/department-list" routerLinkActive="active">Departments</a>
      <a routerLink="hotel-list" routerLinkActive="active">Hotels</a>
    </div>
    <div class="item">
      <a (click)="open()" >Login</a>      
    </div>
  </div>
</header>
  <login-form [style.display]="isOpen ? 'block' : 'none'"></login-form>